<p>
  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="spacer"></span>
    <img src="assets/cypress.png" height="50" width="200"/>
  </mat-toolbar>
</p>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let r"> {{r.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let r"> {{r.date}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let r">
        <button mat-raised-button color="primary" (click)="redirect(r.reportLink)" *ngIf="r.name != ''">Go to report</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
  #paginator
  [pageSize]="25"
  [pageSizeOptions]="[5, 10, 15, 25, 50, 100]"
  [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>

<div class="cypress">
  
</div>